.vs/
obj/
node_modules/
bin/
dist/
tmp/
*.user
*.userosscache
*.log
*.log.*
*.suo
*.Cache

/PortalService/packages
/PortalService/TestResults/*
PortalApp/release/
packages/
PortalApp/index.html
PortalApp/OpenSearchDescriptionDocument.xml
*.ncrunchproject
/PortalService/PortalService.v3.ncrunchsolution
/PortalService/_NCrunch_OspService/
Management/csx/Debug/
Management/ecf/
Management/csx/

# Microsoft Azure Build Output
EuclidAIWorker/csx/